@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222427;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Custom Scrollbar for the Industrial Look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1c1e;
}

::-webkit-scrollbar-thumb {
  background: #2a2d31;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #652BEB;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}